.container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: red;
}